<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Genarte Your Song</h2>
    <p>Give a prompt</p>
    <form id="basicForm" action="{{url_for('homepage')}}" method="POST">
        <label>Prompt: <input type="text" name="prompt"></label>
        <input type="submit" value="Generate">
    </form>
    
    <button onclick="toggleForm()">Custom</button>

    <div id="myForm" style="display: none;">
        <form action="{{url_for('homepage')}}" method="POST" >
            <label><input type="text" name="prompt">Prompt</label>
            <label><input type="text" name="style">Style</label>
            <label><input type="text" name="title">Title</label>
            <p><label><input type="text" name="negative_tags">NegativeTags</label>(Add the neagtives tags, comma seperated)</p>
            <input type="submit" value="Generate">
        </form>
    </div>



    <script>
        function toggleForm() {
            var basicForm = document.getElementById("basicForm");
            var customForm = document.getElementById("myForm");
            
            // Toggle visibility of both forms
            if (customForm.style.display === "none") {
                customForm.style.display = "block";  // Show custom form
                basicForm.style.display = "none";    // Hide basic form
            } else {
                customForm.style.display = "none";  // Hide custom form
                basicForm.style.display = "block";  // Show basic form
            }
        }
    </script>
</body>
</html>
