<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Genarte Your Song</h2>
    <p>Give a prompt</p>
    <form action="{{url_for('homepage')}}" method="POST">
        <label>Prompt: <input type="text" name="prompt"></label>
        <input type="submit" value="Generate">
    </form>
    
    <button onclick="showForm()">Custom</button>

    <div id="myForm" style="display: none;">
        <form action="{{url_for('homepage')}}" method="POST" >
            <label><input type="text" name="prompt">Prompt</label>
            <label><input type="text" name="style">Style</label>
            <label><input type="text" name="title">Title</label>
            <p><label><input type="text" name="negative_tags">NegativeTags</label>(Add the neagtives tags, comma seperated)</p>
            <input type="submit" value="Generate">
        </form>
    </div>



    <script>
        function showForm() {
            document.getElementById("myForm").style.display = "block";
        }
    </script>

</body>
</html>
